 <div class="landing-bg">

 <div class="landing-float-top-lt">
 	<span class="landing-large-text">Find Your <em>NEXT</em> Jam</span>
 </div>

 <div class="clearfix"></div>

	<div class="landing-body">
		<p class="landing-body-text">
			Intuitive playlists for music exploration.
		</p>
		<a href="/users/sign_in"><button class="landing-button" name="button">Get Started</button></a>

	</div>

 <div class="clearfix"></div>

</div>