 	<nav class="landing-navigation"> | 
	<a href="About"></a> | 
	<a href="Features"></a> | 
	<a href="Price"></a> | 
	<a href="Get Started"></a>
	</nav>

	<!-- large top header image -->
<div class="landing-top"><img class="landing-pic-large-top" src="#" alt="Picture from Concert">
</div>

<div class="clearfix"></div>

<div class="landing-about">

	<!-- picture of person listening to music floated right-->
	<img class="landing-pic-float-rt" src="#" alt="Person listening to music">

	<h3 class="landing-head3">About</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsam, tenetur, deleniti accusantium repellendus cum saepe atque ut et excepturi iste velit ex eligendi unde enim porro temporibus aperiam dolor.</p>
	<p>Ipsam, voluptatem fuga nostrum fugiat aliquam eos molestiae pariatur dolor est ipsum praesentium sapiente ab nam sunt tenetur dignissimos eaque illum laboriosam id nulla eveniet sequi assumenda aliquid consequuntur inventore.</p>
	<p>Laboriosam, officiis, quos, eum, odit voluptatibus nihil dolore laudantium reprehenderit laborum fugit delectus deleniti modi labore ipsam temporibus suscipit reiciendis id sint facilis iure quas quidem voluptatem eius libero vel!</p>

</div>

<div class="clearfix"></div>

<div class="landing-features">

	<!-- picture of person listening to music floated left-->
	<img class="landing-pic-float-lt" src="#" alt="Person listening to music">

	<h3 class="landing-h3">Features</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsam, tenetur, deleniti accusantium repellendus cum saepe atque ut et excepturi iste velit ex eligendi unde enim porro temporibus aperiam dolor.</p>
	<p>Ipsam, voluptatem fuga nostrum fugiat aliquam eos molestiae pariatur dolor est ipsum praesentium sapiente ab nam sunt tenetur dignissimos eaque illum laboriosam id nulla eveniet sequi assumenda aliquid consequuntur inventore.</p>
	<p>Laboriosam, officiis, quos, eum, odit voluptatibus nihil dolore laudantium reprehenderit laborum fugit delectus deleniti modi labore ipsam temporibus suscipit reiciendis id sint facilis iure quas quidem voluptatem eius libero vel!</p>

</div>

<div class="clearfix"></div>

<div class="landing-price">

	<!-- money background text should be on top -->
	<!-- text should be centered -->

	<h3 class="landing-h3">Price</h3>
	<p class="price-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsam, tenetur, deleniti accusantium repellendus cum saepe atque ut et excepturi iste velit ex eligendi unde enim porro temporibus aperiam dolor.</p>
	<p class="price-text">Ipsam, voluptatem fuga nostrum fugiat aliquam eos molestiae pariatur dolor est ipsum praesentium sapiente ab nam sunt tenetur dignissimos eaque illum laboriosam id nulla eveniet sequi assumenda aliquid consequuntur inventore.</p>
	<p class="price-text">Laboriosam, officiis, quos, eum, odit voluptatibus nihil dolore laudantium reprehenderit laborum fugit delectus deleniti modi labore ipsam temporibus suscipit reiciendis id sint facilis iure quas quidem voluptatem eius libero vel!</p>

</div>

<div class="clearfix"></div>

<div class="landing-get-started">

	<!-- get started button -->
	<!-- text should be centered -->

	<h3 class="landing-h3">Get Started</h3>
	<p class="start-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsam, tenetur, deleniti accusantium repellendus cum saepe atque ut et excepturi iste velit ex eligendi unde enim porro temporibus aperiam dolor.</p>
	<p class="start-text">Ipsam, voluptatem fuga nostrum fugiat aliquam eos molestiae pariatur dolor est ipsum praesentium sapiente ab nam sunt tenetur dignissimos eaque illum laboriosam id nulla eveniet sequi assumenda aliquid consequuntur inventore.</p>
	<p class="start-text">Laboriosam, officiis, quos, eum, odit voluptatibus nihil dolore laudantium reprehenderit laborum fugit delectus deleniti modi labore ipsam temporibus suscipit reiciendis id sint facilis iure quas quidem voluptatem eius libero vel!</p>

	<a href="#">Get Started</a>

</div>