$fontColor: #FFF;
$backgroundColor: #492A2D;
$borderColor: #007F7F

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: $backgroundColor;
	color: $fontColor;
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

p {
	margin: 0 auto;
	width: 60%;
}

a {
	color: $fontColor;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


