html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
} 

/************ Search Bar *************/
#new-search{
	color: #007F7F;
	float: right;
	margin-right: 7.5%;
	width: 10%;
}

/************ Left Side *************/

.new-container-left{
	width: 40%;
	float: left;
	height: 600px;
	margin-left: 7.5%;
}

.new-song-info{
	height: 40%;
	border: 1px solid #007F7F;
}

.new-played-songs{
	height: 70%;
	width: 100%;
	border: 1px solid #007F7F;
	#new-played{
		float: left;
		margin-left: 20%;
		width: 30%;
		color: #007F7F;
	}
	#new-save{
		float: right;
		width: 30%;
		margin-right: 20%;
		color: #007F7F;
	}
}

#new-played{
	float: left; 
}

/************ Right Side *************/
.new-container-right{
	width: 40%;
	height: 600px;
	float: right;
	margin-right: 7.5%;
}

.new-upcoming{
	height: 100%;
	border: 1px solid #007F7F;
}
input[type=password]{

	border-radius: 50px;
	opacity: 1;
	border: 1.5px solid rgba(89, 104, 150, 0.5);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 5px #dad8e7; 
	font-family: 'Open Sans', sans-serif;
  	font-weight: 900;
  	font-size: 22px;
	color: white;
}
input[type=email]{
	border-radius: 50px;
	opacity: 1;
	border: 1.5px solid rgba(89, 104, 150, 0.5);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 5px #dad8e7; 
	font-family: 'Open Sans', sans-serif;
  	font-weight: 900;
  	font-size: 22px;
	color: white;
}
input:focus {
	outline: 0;
}
input[type=submit]{
	background-color: purple;
	border-radius: 8px;
	border: 2px solid purple;
	margin-top: 15px;
	margin-bottom: 15px;
}

