html{

}
body{
	width: 100%;
	height: 100%;
} 

/************ Search Bar *************/
#new-search{
	color: #007F7F;
	float: right;
	margin-right: 7.5%;
	width: 10%;
}

/************ Left Side *************/

.new-container-left{
	width: 40%;
	float: left;
	height: 600px;
	margin-left: 7.5%;
}

.new-song-info{
	height: 40%;
	border: 1px solid #007F7F;
}

.new-played-songs{
	height: 70%;
	width: 100%;
	border: 1px solid #007F7F;
	#new-played{
		float: left;
		margin-left: 20%;
		width: 30%;
		color: #007F7F;
	}
	#new-save{
		float: right;
		width: 30%;
		margin-right: 20%;
		color: #007F7F;
	}
}



#new-played{
	float: left;
}

/************ Right Side *************/
.new-container-right{
	width: 40%;
	height: 600px;
	float: right;
	margin-right: 7.5%;
}

.new-upcoming{
	height: 100%;
	border: 1px solid #007F7F;
}
