/*playlists index page CSS*/

.logo{
	position: relative;
}

.pl-saved{
	border: 3px solid #007F7F;
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
}

.pl-h2 {
	padding-bottom: 20px;
}

.pl-li{
	margin-left: 3px;
	width: 75%;
}

#search input{
	margin-bottom: 1em;
	background-color: black;
	border: 1px solid #007F7F;
}

#search label{
	padding: .75em;
}

#artist{
	background-color: black;
}

#search input[type=submit]{
	background-color: purple;
	padding: 1em 2em;
	border-radius: 10px;
	outline: none;
}