.landing-navigation {
	
}

.landing-top {
	margin: 0 auto;
	width: 100%;
}

.landing-pic-large-top {
	margin: 0 auto;
}

.landing-about {

}

.landing-pic-float-rt {
	float: right;
}

.landing-pic-float-lt {
	float: left;
}

.landing-head3 {

}

.landing-features {

}

.landing-price {

}

.price-text {
	color: #fff;
}

.landing-get-started {

}

.start-text {
	
}

