<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="index.css.scss">
</head>
<body>
	<div class="player-bar">
		►
	</div>

	<div class="container-left">
		<div class="song-info">
			<h3> Now Playing: </h3>
		</div>
		<div class="played-songs">
			<button id="played"></button>
			<button id="save"></button>
		</div>
	</div>

	<div class="container-right">
		<div class="upcoming">
			<h3>Upcoming Songs</h3>
		</div>
	</div>



</body>
</html>