
	<div class="logo">&#127911;</div>

		<div class="pl-saved">
			<h2 class="pl-h2">Search for a Track</h2>
				<form id="search">
				  <label for="track">Track</label>
				  <input type="search" id="track">
				  <br>
				  <label for="artist">Artist</label>
				  <input type="search" id="artist">
				  <br>
				  <input type="submit" value="Search">
				</form>

		</div>

		