<div class="new-search-bar">
	<button id="new-search"> search </button>
</div> 

<div class="new-container-left">
	<div class="new-song-info">
		<h3> Now Playing: </h3>
		<h5> Artist: </h5>
		<!-- Album Cover Image ADD RUBY --> 
		<img src=""/>
	</div>
	<div class="new-played-songs">
		<button id="new-played">Played</button>
		<button id="new-save">Save</button>
		<section>
			<li>Artist:</li> <!-- Artist Name -->
			<li>Song:</li> <!-- Song Name -->
		</section>
	</div> 
</div>

<div class="new-container-right">
	<div class="new-upcoming">
		<h3>Upcoming Songs</h3>
	</div>
</div>

