<div class="player-bar">
	<div class="music-icons"> ≡ | ‖ ►  </div>
	<button id="search"> search </button>

</div>

<div class="container-left">
	<div class="song-info">
		<h3> Now Playing: </h3>
		<h5> Artist: </h5>
		<!-- Album Cover Image --> 
		<img src=""/>
	</div>
	<div class="played-songs">
		<button id="played"></button>
		<button id="save"></button>
		<section>
			<!-- Artist Name -->
			<!-- Song Name -->
		</section>
	</div>
</div>

<div class="container-right">
	<div class="upcoming">
		<h3>Upcoming Songs</h3>
	</div>
</div>
